#card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../../assets/birthday-001.jpeg"); */
    background-size: contain;
}

#card-front > h4 {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}