#card-roulette-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-roulette-container h1 {
    font-family: 'Norican', cursive;
}

.doors {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.door {
    background: #fafafa;
    width: 87%;
    height: 91.5%;
    overflow: hidden;
}

.frame1,
.frame2,
.frame3 {
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame1 {
    background-image: url('../../assets/frame1.png');
}

.frame2 {
    background-image: url('../../assets/frame2.png');
}

.frame3 {
    background-image: url('../../assets/frame3.png');
}

.boxes {
    /* transform: translateY(0); */
    transition: transform 1s ease-in-out;
}

.box {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttons {
    margin: 1rem 0 2rem 0;
}

.buttons button {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0.2rem 0 0.2rem;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
