.handwriting {
    width: 100%;
    top: 0;
    transition: all 1s ease;
    transition-delay: 1s;
    position: absolute;
    
}

.handwriting svg {
    width: 100%;
}

.text {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: animate 10s 4s linear 1 forwards;
    stroke: #000000;
}

@keyframes animate {
    to {
        stroke-dashoffset: 0;
    }
}