#intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    background-image: url('../../assets/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Header Banner */

.intro-banner {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    background-image: url('../../assets/banner.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    animation: show-up 2s 9s forwards;
}

.intro-banner img {
    height: 100%;
}

.intro-banner h2 {
    font-size: 1.5rem;
    font-family: 'IM Fell English', serif;
    margin: 3% auto 0 auto;
    font-weight:lighter;
}

.intro-banner h3 {
    font-size: 1.2rem;
    font-family: 'IM Fell English', serif;
    margin: 0 auto;
    font-weight: lighter;    
}

/* Card and Envelope Container */

.intro-card-container {
    width: 400px;
    height: 460px;
    margin: auto; 
    position:absolute;
    top:30%;
    /* left:50%; */
    /* transform: translateX(-50%); */
    transition: 1s;
    z-index: 3;

}

.intro-card-container img {
    width: 100%;
}

/* Envelope */

.intro-envelope {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    animation: envelope-side-slide 2.5s 3s ease-in-out forwards;
}

.envelope-back {
    width: 100%;
    height: 99.9%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.envelope-back img {
    height: 100%;
}

#envelope-left {
    position: absolute;
    z-index: 3;
}

.envelope-left {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.envelope-left img,
.envelope-right img,
.envelope-right-open img {
    height: 100%;
}

#envelope-right {
    z-index: 4;
    position: absolute;
}

.envelope-right {
    width: 75%;
    height: 100%;
    top: 0;
    right: -1px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform-origin: right;
}

.envelope-right-box {
    animation: envelope-flips-open 3.5s 2s ease forwards;
}

.envelope-right
.envelope-right-box {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    transition: 2s;
    transform-style: preserve-3d;
    transform-origin: right;
    }

.envelope-right
.envelope-right-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    }

.envelope-right .envelope-right-box img:nth-child(2) {
    transform: rotateY(180deg);
    object-fit: contain;
    right: -6.5%;
}

@keyframes envelope-flips-open {
    0% {
        transform-origin: right;
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(-180deg);
        transform-origin: right;
    }

    100% {
        transform: rotateY(0);
        transform-origin: right;
    }
}

@keyframes envelope-side-slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translate(0);
    }
}

/* Intro Card */

#intro-card {
    position: absolute;
    z-index: 2;
}

.intro-card {
    width: 97%;
    top: 2.5%;
    left: 5px;
    transform-origin: left;
    animation: card-comes-out 2.5s 3.1s ease-in-out forwards,
    invisible 1s 6.7s forwards;
}

@keyframes card-comes-out {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Flip Card */

.intro-flip-card {
    width: 97%;
    height: 95%;
    top: 2.5%;
    left: 5px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    opacity: 0;
    position: absolute;
    transform-origin: left;
    z-index: 15;
    animation: visible 1s 6.3s forwards;
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
}

.intro-flip-card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #ffffff;
    transition: 2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.intro-flip-card .imgBox div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 2s;
}

.intro-flip-card .imgBox img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.intro-flip-card .imgBox img:nth-child(2) {
    right: 1px;
    height: 100.1%;
    transform: rotateY(180deg);
}

.intro-flip-card .intro-flip-card-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.intro-flip-card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-flip-card .intro-flip-card-text h2 {
    font-family: 'Norican', cursive;
    font-size: 1.6rem;
    color: #dc004e;
    line-height: 1em;
    margin: 10% 0;
}

.intro-flip-card .intro-flip-card-text h3 {
    font-family: 'IM Fell English', cursive;
    font-size: 1.2rem;
    line-height: 1.3em;
    margin-top: 12%;
}

.intro-flip-card .intro-flip-card-text h4 {
    font-family: 'Norican', cursive;
    font-size: 1.5rem;
    line-height: 1em;
    margin-top: 20%;
}

.intro-flip-card .details .content {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.translate {
    transform: translateX(50%);
}

.reverse-translate {
    transform: translateX(0%);
}

.open-card {
    transform: rotateY(-180deg);
}

.close-card {
    transform: rotateY(-0deg);
}

/*Corner Fold Effect */

.fold {
    height: 400px;
    padding: 25px 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all ease 0.5s;
}

.fold:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent;
    transition: all ease 0.5s;
    transform: rotate(90deg);
}

.fold:hover:before {
    border-width: 0 50px 50px 0;
    border-color: #eee #ffffff;
}

/* Scroll Icon */

.intro-scroll-down {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    top: 93%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    opacity: 0;
    animation: show-up 1s 9s forwards;
}

.intro-scroll-down:hover {
    text-decoration: none;
    color: #dc004e;
}

/* Visibility Controls */

@keyframes visible {
    to {
    opacity: 1;
    }
}

@keyframes invisible {
    to {
    opacity: 0;
    }
}

@keyframes show-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 374px) {
    #intro-container {
        height: 43%;
        border-radius: 0;
    }
    .intro-card-container {
        width: 47%;
        height: 60%;
    }
    .intro-card {
        width: 92%;
        top: 5%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #intro-container {
        height: 43%;
        border-radius: 0;
    }

    .intro-card-container {
        width: 47%;
        height: 60%;
    }

    .intro-card {
        width: 90%;
        top: 1%;
        left: 7px;
    }
}
