#intro-container {
    width: 100%;
    height: 85%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    background-image: url('../../assets/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
}

.intro-card-container {
    width: 355px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Envelope Styles */

.intro-envelope {
    width: 80%;
    height: 100%;
    position: relative;
}

.envelope-back {
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.envelope-back img {
    height: 100%;
}

#envelope-left {
    position: absolute;
    z-index: 3;
}

.envelope-left {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.envelope-left img,
.envelope-right img,
.envelope-right-open img {
    height: 100%;
}

#envelope-right {
    z-index: 4;
    position: absolute;
}

.envelope-right {
    width: 75%;
    height: 100%;
    top: 0;
    right: 0.1px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform-origin: right;
}

.envelope-right
.envelope-right-box {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    transition: 2s;
    transform-style: preserve-3d;
    transform-origin: right;
    }

.envelope-right
.envelope-right-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    }

.envelope-right .envelope-right-box img:nth-child(2) {
    transform: rotateY(180deg);
    object-fit: contain;
    right: -6.5%;
}

/* Intro Card Styles */

#intro-card {
    position: absolute;
    z-index: 2;
}

.intro-card {
    width: 97%;
    top: 1.5%;
    left: 4px;
    transform-origin: left;
    
}

/* Flip Card Styles */

.intro-flip-card {
    width: 97%;
    height: 97%;
    top: 1.5%;
    left: 4px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
    opacity: 0;
    position: absolute;
    transform-origin: left;
    z-index: 15;
    animation: visible 1s 6.3s forwards;
}

.intro-flip-card:hover {
    transform: translateX(50%);
    cursor: pointer;
}

.intro-flip-card .details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.intro-flip-card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-flip-card .details .content h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}

.intro-flip-card .details .content {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.intro-flip-card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #ffffff;
    transition: 2s;
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
}


.intro-flip-card .imgBox div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 2s;
    
}


.intro-flip-card:hover .imgBox {
    transform: rotateY(-180deg);
}


.card-flips-open {
    width: 96%;
    height: 97%;
    top: 1.5%;
    left: 5.5px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
    transition: 1s;
    position: absolute;
    transform-origin: left;
    z-index: 15;
    
    animation: card-flips-open 2s linear forwards;
}

@keyframes card-flips-open {
    to {
        transform: rotateY(-180deg) translateX(50%);
    }
}

.intro-flip-card .imgBox img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.intro-flip-card .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
}

@keyframes visible {
    to {
    opacity: 1;
    
    }
}

@keyframes invisible {
    to {
    opacity: 0;
    
    }
}

/* Animations */

.envelope-flip-open {
    animation: envelope-flip-open 3.5s 2s ease forwards;
}

.envelope-side-slide {
    animation: envelope-side-slide 2.5s 3s ease-in-out forwards;
    
}

.card-come-out {
    animation: card-come-out 2.5s 3.1s ease-in-out forwards,
    invisible 1s 6.5s forwards;
    
}

/* Keyframes */

@keyframes envelope-flip-open {
    0% {
        transform-origin: right;
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(-180deg);
        transform-origin: right;
    }
    100% {
        transform: rotateY(0);
        transform-origin: right;
    }
}

@keyframes envelope-side-slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes card-come-out {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%) ;
    }
    100% {
        transform: translateX(0) ;
    }
}



/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 374px) {
    #intro-container {
        height: 43%;
        border-radius: 0;
    }
    .intro-card-container {
        width: 47%;
        height: 60%;
    }
    .intro-card {
        width: 92%;
        top: 5%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #intro-container {
        height: 43%;
        border-radius: 0;
    }

    .intro-card-container {
        width: 47%;
        height: 60%;
    }

    .intro-card {
        width: 90%;
        top: 1%;
        left: 7px;
    }
}
