#reviews {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    background-color: #ffffff;
}

.reviews-container h1 {
    font-family: 'Sacramento', cursive;
    margin-bottom: 0;
}

.reviews-logo {
    width: 100%;
}

.reviews-logo h2 {
    font-family: 'Norican', cursive;
}

.flower-frame1 {
    width: 40%;
    height: 30%;
    position: absolute;
    top: -5%;
    left: -10%;
    background-image: url('../../assets/flower-frame1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(15deg);
}

.flower-frame2 {
    width: 40%;
    height: 30%;
    position: absolute;
    top: -5%;
    right: -10%;
    background-image: url('../../assets/flower-frame2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-15deg);
}

.reviews-container p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    cursive;
    font-size: .9rem;
}

.reviews-card-container {
    width: 85%;
    height: 70%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-image: url('../../assets/horizontal-frame.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3%;
    border: 1px solid #E1C16E;
    border-radius: 25px;
}

.MuiCard-root {
    width: 23%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
    padding: 2%;
}

.MuiCard-root img {
    width: 100%;
}

.MuiCard-root h4,
.MuiCard-root p {
    font-family: 'IM Fell English',
    cursive;
    font-size: .7rem;
}

.MuiCard-root h4 {
    font-weight: 700;
    margin-top: 5%;
}
