#reviews {
    width: 100%;
    height: 85%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.reviews-container h1, .reviews-container p {
    font-family: 'IM Fell English',
    cursive;
}

.reviews-container > div:first-of-type > h1 {
    margin-top: 5vmin;
}

.reviews-card-container {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-card-container > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.MuiCard-root {
    width: 20vmin;
    height: 32vmin;
}

.MuiCard-root img {
    width: 100%;
}

.MuiCard-root h4,
.MuiCard-root p {
    font-family: 'IM Fell English',
    cursive;
    font-size: 1.7vmin;
    padding: 2vmin;
    text-align: left;
}

/* Scroll Icon */

.reviews-scroll-up {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 6;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}

.reviews-scroll-up:hover {
    text-decoration: none;
    color: #dc004e;
}
