#preview-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    background-image: url('../../assets/intro-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#preview-container > header {
    width: 100%;
    margin: 1% 0 0 0;
    opacity: 0;
    position: relative;
    z-index: 10;
    animation: preview-show-up 1s ease 5s forwards;}

#preview-container > header > h1 {
    font-family: 'Sacramento', cursive;
    margin: 0;
}

#preview-container > header > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    margin: 0;
}

/* Card and preview-Envelope Container */

.preview-card-container {
    width: 450px;
    height: 510px;
    margin-bottom: 12%;
    transition: 1s;
    z-index: 3;
}

.preview-card-container img {
    width: 100%;
}

/* Preview Envelope */

.preview-envelope {
    width: 80%;
    height: 100%;
    border: 1px solid rgb(235, 235, 235);
    margin: auto;
    position: relative;
    animation: preview-envelope-side-slide 2.5s 3s ease-in-out forwards;
}

.preview-envelope-back {
    width: 100%;
    height: 99.9%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.preview-envelope-back img {
    height: 100%;
}

#preview-envelope-left {
    position: absolute;
    z-index: 3;
}

.preview-envelope-left {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preview-envelope-left img,
.preview-envelope-right img,
.preview-envelope-right-open img {
    height: 100%;
}

#preview-envelope-right {
    z-index: 4;
    position: absolute;
}

.preview-envelope-right {
    width: 75%;
    height: 100%;
    top: 0;
    right: -1px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform-origin: right;
}

.preview-envelope-right-box {
    animation: preview-envelope-flips-open 3.5s 2s ease forwards;
}

.preview-envelope-right .preview-envelope-right-box {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    transition: 2s;
    transform-style: preserve-3d;
    transform-origin: right;
}

.preview-envelope-right .preview-envelope-right-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.preview-envelope-right .preview-envelope-right-box img:nth-child(2) {
    transform: rotateY(180deg);
    object-fit: contain;
    right: -3.5%;
}

@keyframes preview-envelope-flips-open {
    0% {
        transform-origin: right;
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(-180deg);
        transform-origin: right;
    }

    100% {
        transform: rotateY(0);
        transform-origin: right;
    }
}

@keyframes preview-envelope-side-slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translate(0);
    }
}

/* Preview Card */

#preview-card {
    position: absolute;
    z-index: 2;
}

.preview-card {
    width: 95.5%;
    height: 94%;
    top: 2.5%;
    left: 8px;
    transform-origin: left;
    animation: preview-card-comes-out 2.5s 3.1s ease-in-out forwards,
    invisible 1s 6.7s forwards;
}

.preview-card img {
    height: 100%;
    border: 1px solid rgb(235, 235, 235);
}

@keyframes preview-card-comes-out {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Flip Card */

.preview-flip-card {
    width: 95.5%;
    height: 94%;
    top: 2.5%;
    left: 8px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    opacity: 0;
    position: absolute;
    transform-origin: left;
    z-index: 15;
    animation: visible 1s 6.3s forwards;
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
}

/* Flip Card - Front */

.preview-flip-card .preview-imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #ffffff;
    transition: 2s;
    box-shadow: 10px 20 px 40 px rgba (0, 0, 0, 0, 0.25);
}

.preview-flip-card .preview-imgBox img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px solid rgb(235, 235, 235);
}

.preview-flip-card .preview-imgBox img:nth-child(2) {
    right: 1px;
    height: 100.1%;
    transform: rotateY(180deg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cover-text-preview {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 80%;
    left: 0;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 2s;
    background-color: #ffffff;

}

.cover-text-preview h4 {
    font-family: 'Nunito';
    font-size: 1.1rem;
    margin-top: 1%;

}

.preview-translate {
    transform: translateX(50%);
}

.preview-reverse-translate {
    transform: translateX(0%);
}

.preview-open-card {
    transform: rotateY(-180deg);
}

.preview-close-card {
    transform: rotateY(-0deg);
}

/* Flip Card - Text */

.preview-flip-card .preview-flip-card-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.preview-flip-card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview-flip-card .preview-flip-card-text h2 {
    font-family: 'Norican', cursive;
    font-size: 1.6rem;
    color: #dc004e;
    line-height: 1em;
    margin: 10% 0;
}

.preview-flip-card .preview-flip-card-text h3 {
    font-family: 'IM Fell English', cursive;
    font-size: 1.2rem;
    line-height: 1.3em;
    margin-top: 12%;
}

.preview-flip-card .preview-flip-card-text h4 {
    font-family: 'Norican', cursive;
    font-size: 1.5rem;
    line-height: 1em;
    margin-top: 20%;
}

.preview-flip-card .details .content {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.preview-selected-text {
    margin-top: 25%;
}

.preview-empty-text {
    margin-top: 5%;
}

.preview-empty-text h3 {
    margin-top: 20%;
}


/* Visibility Controls */

@keyframes visible {
    to {
        opacity: 1;
    }
}

@keyframes invisible {
    to {
        opacity: 0;
    }
}

@keyframes show-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.preview-footer {
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    border-top: 1px solid lightgray;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius:  25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    animation: preview-show-up 1s ease 5s forwards;
}

.preview-footer > h4 {
    font-family: 'Sacramento', cursive;
    font-size: 1.5rem;
    margin-top: 1%;
}

.preview-footer > h4 > a {
    color: #dc004e;
}

.preview-footer a {
    text-decoration: none;
    
}

.preview-footer a  h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #000;
}

.preview-footer a h4:hover {
    color: #dc004e;
}

.preview-custom-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#a95), to(#fea));
    border: 1px solid #ba6;
    background-size: 200% auto;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito',
        sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1),
        0px 1px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 3s;
}

.save-btn {
    padding: 7.8px 20px;
}

.send-btn {
    padding: 10px 20px;
}

.save-btn:hover,
.send-btn:hover {
    text-decoration: none;
    color: #ffffff;
    transition: 3s;
    background: -webkit-gradient(linear, left top, left bottom, from(#fea), to(#a95));
}





/* Show Up Elements */

@keyframes preview-show-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}