html {
  overflow-y: scroll;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.section-container {
  width: 100%;
  height: 100%;
  
}

.red {
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

.white {
  background-color: #ffffff;
  transition: background-color 1s ease;
}

.sub-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid green;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  width: 100%;
  height: 80.5vh;
  
}

.component {
  width: 100%;
  min-height: 100px;
  text-align: center;
  border: 1px solid black;
}

.border {
  border: 2px solid black;
}
