html {
  overflow-y: scroll;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.border {
  border: 2px solid black;
}

.modal-footer {
  border-top: 1px solid #E1C16E;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  width: 100%;
  /* height: 80.5vh; */
  height: 100%;;
  
}

